* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 10vh auto;
  display: flex;
  width: 80%;
}
.human,
.computer {
  width: 25%;

  box-shadow: 0 0 8px #ddd;
}

.batelfield {
  width: 50%;

  box-shadow: 0 0 8px #ddd;
}

.info {
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 8px skyblue;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.soldier {
  width: 20px;
  height: 20px;
  margin: 2px;
  box-shadow: 0 0 8px #ddd;
  display: inline-block;
}

.gun {
  background-color: deepskyblue;
}
.sniper {
  background-color: indianred;
}

.highlight {
  box-shadow: 0 0 5px 5px black inset;
}
